# telethon configs
BOT_TOKEN=
YOUR_BOT_USERNAME=@your_username
API_ID=
API_KEY=

# proxy settings
PROXY_PROTOCOL=
PROXY_HOST=
PROXY_PORT=

# mysql settings
MYSQL_HOST=
MYSQL_PORT=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# PHPMYADMIN
PHPMYADMIN_PORT=81
